p{
    font-size: 20px;
    color:red;
    line-height: 1.5;

}

div {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    align-self: start;
    color:yellowgreen;

}